.root {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background-color: white;
}
.iframe {
  height: calc(100vh - 40px);
}
.loader {
  height: 150px;
  width: 150px;
  background-color: white;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 40px;
  top: 0;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
