/* SearchField.module.css */

.search-field {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  transition: border-color 0.3s;
  width: 200px;
  position: relative;
}

.search-field.focused {
  border-color: #007bff;
}

.search_icon {
  min-width: 24px;
  margin-right: 4px;
}

.clear_icon {
  cursor: pointer;
  min-width: 20px;
  flex-shrink: 0;
  margin-left: 4px;
  position: absolute;
  right: 0;
}

input {
  border: none;
  outline: none;
  flex: 1;
  max-width: calc(100% - 60px);
}

@media screen and (min-width: 768px) {
  .search-field {
    width: 400px;
    padding: 8px;
  }
}
